/* body{
   background-image: url("./images/jerseysbg.png")
} */

.mainHeader{
  display: flex;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  /* justify-content: space-around; */
  flex-direction: row;
  background-color: white;
}

.headerText{
  color: black;
  font-size: 2em;
  font-family: Brush Script MT, Brush Script Std, cursive;
  flex: 9;
  text-indent: 3%;
}

.jumbotron{
  background-image: url("./images/basketball-147657_1280.png");
  background-position: right 0px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 95vh;
  margin: 0px;
}

.jumbotronText{
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-decoration: underline;
  font-size: 10em;
}
.cartItems{
   margin: auto;
}

.checkout{
  font-family:  Brush Script MT, Brush Script Std, cursive;
  width: 45px;
  max-width: 100%;
  max-height: 450px;
  font-size: 1.5rem
}

.addItem{
  flex: 1;
  font-family:  Brush Script MT, Brush Script Std, cursive;
  font-size: 2em;
}

.button{
  font-family: Brush Script MT, Brush Script Std, cursive;
  background-color: lightgreen;
  color: black;
  margin-left: 70%;
}
.placeOrder{
  margin-left: 85%;
  background-color: lightblue;
}

.catalogButton{
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-indent: 3%;
  font-size: 2rem;
  cursor: pointer;
}

.catalogButton:hover {
  color: teal
}

.itemCheckout{
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}


.jerseyContainer{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.topProducts{
  background-color: white;
  display: flex;
  border-bottom: 5px solid silver;
}

.firstTopProduct{
  background-color: white;
  /* border: 2px solid silver; */
  text-align: center;
  /* flex: 3; */
  width: 50%;
}

.topProductsText{
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  text-align: center;
  flex: 1;
}

.topProductDesc{
   font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  text-align: center;
}

.borderItem {
  border: 3px  solid black;
}
.card-body{
  border-top: 2px  solid silver;
}

#amount{
  display: inline-block;
  text-align: center;
  width: 5%;
  /* background-color: silver; */
  font-size: 1.5rem;

}

.detailsContainer{
  margin: auto;
  border: 2px solid black;
}

.detailsInfo{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.quantity{
  border-top: 1px  solid silver;
  border-bottom: 1px  solid silver;
  background-color: grey;
}
.addbutton{
   border: 2px solid black;
   width: 30%;
   margin: auto;
   background-color: lightgreen
}


.deleteButton{
  font-family: Brush Script MT, Brush Script Std, cursive;
  background-color: red;
  border: 1px solid black;
  font-size: 1.5rem
}

.updateButton{
  font-family: Brush Script MT, Brush Script Std, cursive;
  background-color: lightblue;
  border: 1px solid black;
  font-size: 1.5rem
}

.modalappear{
  height: 31%;
  width: 30%;
  background-color: grey;
  position: fixed;
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
  color: white;
  border-radius: 25px;
  text-shadow: 3px 5px black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.hidden {
  display: none
}

.modaltext .operator{
  font-weight: bold;
}
